* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3b3b3b, #666666);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #3b3b3b;
    padding: 1em 2em;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #b2ff59;
}

/* Resume Container */
.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 80px; /* Space for fixed header */
}

/* Resume Image Styling */
.resume-image {
    width: 70%; /* Adjust as needed */
    max-width: 800px; /* Controls max size */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
