* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3b3b3b, #666666);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #3b3b3b;
    padding: 1em 2em;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.intro {
    display: flex;
    align-items: center;
    gap: 2em;
}

.image-wrapper {
    position: relative;
    width: 350px;
    height: auto;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    transform: translateX(-10px) translateY(-10px);
}

.intro-text {
    max-width: 600px;
    color: white;
}

.intro-text h1 {
    font-size: 4em;
    color: black;
    margin-bottom: 0.2em;
}

.intro-text p {
    font-size: 1.2em;
    color: #CCCCCC;
    margin-top: 0.2em;
}

.intro-text p:first-of-type {
    font-weight: bold;
    color: white;
}
